<div class="card" >
    <img src={{ product.image }} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="card-title">
            <span class="text-primary" style="font-weight: bold; font-size: 1.4rem">{{ product.price | number_format(0, ',', ' ') }} €</span>
            {% if product.promo %}
                <div class="text text-warning">Promo !</div>
            {% endif %}
        </div>
        <p class="card-text text-muted">{{ product.description }}</p>
    </div>
</div>