{% extends 'base.html.twig' %}

{% block title %}Tous nos produits{% endblock %}

{% block body %}
    <div class="container">
        {% for product in products %}
            {% include 'product/_card.html.twig' with {product: product} only %}
        {% endfor %}
    </div>
{% endblock %}
